html {
  -webkit-tap-highlight-color: transparent;
  height: 100%;
}
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
}
/* *::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: hsla(var(--sc) / var(--tw-bg-opacity, 1));
  border-radius: 10px;
  border: 2px solid hsla(var(--sc) / var(--tw-bg-opacity, 1));
} */
